# Local files
.env
.idea
.DS_Store
http-client.private.env.json
*.test.json

# Development volumes
architecture/development/volumes/*
!architecture/development/volumes/.gitkeep

# Node
node_modules
build
dist

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*


